In [1]:
from IPython.core.display import display, HTML 
display(HTML("<style>.container { width:100% !important; }</style>"))
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
import xml.etree.ElementTree as ET

In [3]:
ls ../data/Appleヘルスケア書き出し

export_cda.xml                   書き出したデータ.xml

In [4]:
tree = ET.parse('../data/Appleヘルスケア書き出し/書き出したデータ.xml')
root = tree.getroot()

In [5]:
root[2000].attrib

{'creationDate': '2017-08-14 14:54:28 +0900',
 'device': '<<HKDevice: 0x2838d38e0>, name:iPhone, manufacturer:Apple, model:iPhone, hardware:iPhone7,2, software:10.3.3>',
 'endDate': '2017-08-14 14:43:14 +0900',
 'sourceName': 'iPhone',
 'sourceVersion': '10.3.3',
 'startDate': '2017-08-14 14:33:17 +0900',
 'type': 'HKQuantityTypeIdentifierStepCount',
 'unit': 'count',
 'value': '289'}

In [6]:
root[2000].attrib['type'] == 'HKQuantityTypeIdentifierStepCount'

True

In [7]:
root[2000].attrib['startDate']

'2017-08-14 14:33:17 +0900'

In [8]:
root[2000].attrib['value']

'289'

In [9]:
datetime = []
counts = []

for child in root:
    data = child.attrib

    try:
        if data['type'] == 'HKQuantityTypeIdentifierStepCount':
            datetime.append(data['startDate'])
            counts.append(data['value'])
    except:
        pass

df = pd.DataFrame({
    'datetime': datetime,
    'stepCount': counts
})

df['stepCount'] = df['stepCount'].astype(int)
df['datetime'] = pd.to_datetime(df['datetime'])

In [10]:
df.head()

             datetime  stepCount
0 2017-06-27 23:04:40        504
1 2017-06-27 23:14:34        871
2 2017-06-27 23:22:53         25
3 2017-06-27 23:29:45         29
4 2017-06-27 23:36:05         17

In [11]:
df.to_csv('../data/input/df.csv', index=False)